<form action="/users" method="POST">
	Name:<br>
	<input type="text" name="name" />
	<br>
	Email:<br>
	<input type="email" name="email" />
	<br>
	Endereço:<br>
	<input type="text" name="endereco" />
	<br>
	<button type="submit">Send</button>
</form>